<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>账号登录</title>
    <link href="/common/css/default.css" rel="stylesheet" type="text/css" />
    <!--必要样式-->
    <link href="/common/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="/common/css/demo.css" rel="stylesheet" type="text/css" />
    <link href="/common/css/loaders.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="bg" style="width:100%;height: 565px;"></div>
<div class='login'>
    <div class='login_title'>
        <span>用户登录</span>
    </div>
    <div class='login_fields'>
        <div class='login_fields__user'>
            <div class='icon'>
                <img alt="" src='/common/images/user_icon_copy.png'>
            </div>
            <input name="login" placeholder='请输入用户名' maxlength="16" type='text' autocomplete="off" value=""/>
            <div class='validation'>
                <img alt="" src='/common/images/tick.png'>
            </div>
        </div>
        <div class='login_fields__password'>
            <div class='icon'>
                <img alt="" src='/common/images/lock_icon_copy.png'>
            </div>
            <input name="pwd" placeholder='请输入密码' maxlength="16" type='text' autocomplete="off">
            <div class='validation'>
                <img alt="" src='/common/images/tick.png'>
            </div>
        </div>
        <div class='login_fields__password'>
            <div class='icon'>
                <img alt="" src='/common/images/key.png'>
            </div>
            <input name="code" placeholder='验证码' maxlength="4" type='text' name="ValidateNum" autocomplete="off">
            <div class='validation' style="opacity: 1; right: -5px;top: -3px;">
                <canvas class="J_codeimg" id="myCanvas" onclick="Code();">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>
            </div>
        </div>
        <div class='login_fields__submit'>
            <input type='button' value='登录'>
        </div>
    </div>
    <div class='success'>
    </div>
    <div class='disclaimer'>
        <p>还没有约会吧账号？<a href="/register.html">立即注册</a></p>
    </div>
</div>
<div class='authent'>
    <div class="loader" style="height: 44px;width: 44px;margin-left: 28px;">
        <div class="loader-inner ball-clip-rotate-multiple">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <p>认证中...</p>
</div>
<div class="OverWindows"></div>
<script type="text/javascript" src="/common/js/Treatment.js"></script>

<script type="text/javascript">
    var canGetCookie = 0;//是否支持存储Cookie 0 不支持 1 支持
    var CodeVal = 0;
    Code();
    function Code() {
        if(canGetCookie == 1){
            createCode("AdminCode");
            var AdminCode = getCookieValue("AdminCode");
            showCheck(AdminCode);
        }else{
            showCheck(createCode(""));
        }
    }
    function showCheck(a) {
        CodeVal = a;
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
        ctx.clearRect(0, 0, 1000, 1000);
        ctx.font = "80px 'Hiragino Sans GB'";
        ctx.fillStyle = "#E8DFE8";
        ctx.fillText(a, 0, 100);
    }
    $(document).keypress(function (e) {
        // 回车键事件
        if (e.which == 13) {
            $('input[type="button"]').click();
        }
    });


    $('input[type="text"]').focus(function () {
        $(this).prev().animate({ 'opacity': '1' }, 200);
    });
    $('input[type="text"],input[type="password"]').blur(function () {
        $(this).prev().animate({ 'opacity': '.5' }, 200);
    });
    $('input[name="login"],input[name="pwd"]').keyup(function () {
        var Len = $(this).val().length;
        if (!$(this).val() == '' && Len >= 6) {
            $(this).next().animate({
                'opacity': '1',
                'right': '30'
            }, 200);
        } else {
            $(this).next().animate({
                'opacity': '0',
                'right': '20'
            }, 200);
        }
    });
    $('input[type="button"]').click(function () {
        var login = $('input[name="login"]').val();
        var pwd = $('input[name="pwd"]').val();
        var code = $('input[name="code"]').val();
        if (login == '') {
            layer.msg('请输入账号');
        } else if (pwd == '') {
            layer.msg('请输入密码');
        } else if (code == '' || code.length != 4) {
            layer.msg('输入验证码');
        } else {
            if(code.toUpperCase() !=  CodeVal.toUpperCase()){
                $("#myCanvas").click()
                layer.msg('验证码错误');
            }else{
                var JsonData = { login: login, pwd: pwd};
                $.ajax({
                    url:"/verify/login",
                    type:"post",
                    data:JsonData,
                    success:function(res){
                        if(res.result == false){
                            layer.msg(res.message);
                            setTimeout(function(){
                                location.href = "/login.html"
                            },1200)
                        }else{
                            layer.msg(res.message);
                            setTimeout(function(){
                                location.href = "/"
                            },1200)
                        }
                    },
                    error:function(err){
                        layer.msg('服务器繁忙');
                    }
                })
            }




        }
    })

</script>

</body>

