<head>
    <title>个人中心</title>
    <style>
        .content{width:85%;height:800px;margin:0 auto;border:1px solid red}
        .showTx{width:120px;height:120px;border-radius: 10px;overflow: hidden;margin:10px auto}
        .myShow .username{text-align:center;color:#767676;font-size: 14px}
        .zl_v{margin-left:10px;font-size: 13px}
        .left{border:1px solid #01AAED;background: #F7F7F7;padding:10px}
        .right{border:1px solid #ffff00}
    </style>
</head>
<div class="content layui-row">
    <div class="left layui-col-sm4">
        <div class="myShow">
            <div class="showTx">
                <img src="/common/images/test.jpg" alt="" width="100%" height="100%">
            </div>
            <div class="username">抱抱 <img src="/common/images/girl.png" alt="" width="18px" height="18px"></div>
        </div>
        <table class="layui-table" lay-even="" lay-skin="nob">
            <colgroup>
                <col width="150">
                <col width="150">
            </colgroup>
            <tbody>
            <tr>
                <td>
                    <span>年龄</span>
                    <i><img src="/common/images/nianling.png" alt="" width="20px" height="20px"></i>
                    <span class="jinbi zl_v">22</span>
                </td>
                <td>
                    <span></span>
                    <i><img src="/common/images/chengshi.png" alt="" width="20px" height="20px"></i>
                    <span class="jinbi zl_v">浙江省金华市</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>诚信值</span>
                    <i><img src="/common/images/chengxin.png" alt="" width="20px" height="20px"></i>
                    <span class="jinbi zl_v">0</span>
                </td>
                <td>
                    <span>魅力值</span>
                    <i><img src="/common/images/meili.png" alt="" width="20px" height="20px"></i>
                    <span class="jinbi zl_v">50</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>邮箱</span>
                    <span class="jinbi zl_v">1159818041@qq.com</span>
                </td>
                <td>
                    <span>电话</span>
                    <span class="jinbi zl_v">17336742330</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>qq</span>
                    <i><img src="/common/images/jinbi.png" alt="" width="20px" height="20px"></i>
                    <span class="jinbi zl_v">未设置</span>
                </td>
                <td>
                    <span>微信</span>
                    <i><img src="/common/images/jinbi.png" alt="" width="20px" height="20px"></i>
                    <span class="jinbi zl_v">未设置</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>金币</span>
                    <i><img src="/common/images/jinbi.png" alt="" width="20px" height="20px"></i>
                    <span class="jinbi zl_v">20</span>
                </td>
                <td>华夏族（汉族）</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="right layui-col-sm8">

    </div>
</div>



